.fondo {
    color: blue;
    background-image: url(https://wallpapers.com/images/hd/cool-4k-ultra-hd-nao22k6od4a4djyl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 183, 255);
    opacity: 0.5;
    padding: 300px;
    text-align: center;
    font-size: 100px;
}